# Ignore everything
*

# Leave all the python files
#!*.txt
!*.py
!*.ipynb
!.gitignore
!*.sh
!slurmBayesianOptim
!slurmSensitivityAnalysis
!analysisScripts
!counterUseFreqTests
!counterVariationTests
!dualKnobTesting
!dualKnobTestingViaPolicies
!nasFTBayesianOptimGuidedTuning
!partialSpaceExploration
